<div class="container">
	<div id="clearance" class="sign-in card card-container">
		<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
	  	<%= render partial: '/sessions/form' %>
	</div>
</div>
