<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Airbnb Clone, <%= @user.first_name %>!</h1>
    <p>
      This is your first step to becoming the richest monopoly in the world!
    </p>
  </body>
</html>