<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<div class="input-group date" id="startdatepicker">
				<%= form.text_field :start_date, class: "form-control", placeholder:"Start Date" %>
				    <label class="input-group-addon btn" for="testdate">
       <span class="fa fa-calendar"></span>
    </label>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<div class="input-group date" id="enddatepicker">
				<%= form.text_field :end_date, class: "form-control", placeholder:"End Date" %>
				    <label class="input-group-addon btn" for="testdate">
       <span class="fa fa-calendar"></span>
    </label>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="occupant_number-field">
			<%= form.number_field :occupant_number, class: "form-control", placeholder:"Number of Guests"%>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="col-md-12">
<div class="submit-field">
	<%= form.submit value: "Book now", class: "btn btn-primary btn-lg" %>
</div>
	</div>
</div>